.container-card {
    background: #433D8B;
    width: 100%;
    max-width: 800px;
    padding: 44px 20px 27px 19px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

input#bestseller {
    color: black;
    margin-right: 12px;
    width: 2%;
}